@import url('//fonts.googleapis.com/css?family=Open+Sans');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.homeImage {
  background-image: url('./assets/images/home-edit.jpg');
  background-size: cover;
}

.signupImage {
  background-image: url('./assets/images/signup_bg.jpg');
  background-size: cover;
}

.loginImage {
  background-image: url('./assets/images/login_bg.jpg');
  background-size: cover;
}

body {
  font-family: 'Open Sans'!important;
}

.myFont {
  font-family: 'Open Sans', sans-serif;
}
